body.dark{
background:#0f0f1b;
color:white;
}

body.dark .grid-bg{
background:
linear-gradient(rgba(168,85,247,0.1) 1px, transparent 1px),
linear-gradient(90deg, rgba(168,85,247,0.1) 1px, transparent 1px);
}

body.dark .cursor-glow{
background:radial-gradient(circle,
rgba(168,85,247,0.6),
transparent 70%);
}

body.dark .slot.available{background:#22c55e;}
body.dark .slot.occupied{background:#ef4444;}
body.dark .slot.reserved{background:#facc15;}